.btn {
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: #1284f7;
  color: #feffff;
}

.btn.isSelected {
  background-color: #1976d2;
  color: #fff;
}

.btn:hover {
  background-color: #1976d2;
  color: #fff;
}

.btn:active {
  background-color: #1565c0;
  color: #fff;
}
@media screen and (width: 320px) {
  .btn {
    font-size: 14px;
  }
}
